/* normalizing css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    background-color: #e0b116;
  }
  
  .container {
    width: 857px;
    padding: 3rem;
    background-color: #6a5acd;
    color: white;
    margin: 5rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Row */
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  select {
    width: 30rem;
    padding: 1rem;
    outline: none;
  }
  
  .main-title {
    /* margin: 1rem auto; */
    margin-left: 57rem;
    /* margin-top: 1rem; */
  }
  
  .title {
    font-size: 1.5rem;
  }
  
  input {
    width: 30rem;
    padding: 1rem 2rem;
    outline: none;
    margin: .7rem auto;
  }
  
  #last-t {
    margin-top: 1.6rem !important;
  }
  
  .btn {
    /* background-color: #dcd8f3; */
    background-color:  	#cd785b;
    outline: none;
    border: none;
    text-transform: uppercase;
  }